* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/desktop-wallpaper-portfolio.jpg');
    background-size: cover;
    background-position: center;
}

.hero-content {
    text-align: center;
    color: white;
}

h1, h2, p {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
    margin: 10px 0;
    overflow: hidden;
    white-space: wrap;
    border-right: 3px solid white;
    display: inline-block;
    animation: blink 2.5s step-end infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

p {
    font-size: 1.0rem;
    margin-top: 20px;
}

.button-group {
    display: flex;
    gap: 12px; 
    justify-content: center;
    margin-top: 20px;
}

a.btn {
    display: inline-block;
    padding: 8px 16px;  
    font-size: 0.8rem; 
    background-color: #021d3a;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

a.btn:hover {
    background-color: #014f86;
}

a.btn:active {
    transform: scale(0.95);
}

.social-links {
    margin: 80px 0;
    display: flex;
    justify-content: center;
}

.social-links a {
    margin: 0 15px;
    color: white;
    font-size: 40px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a:hover {
    color: #f1c40f;
    transform: scale(1.2) rotate(10deg);
}

/* Optional Bounce Animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.social-links a:hover {
    animation: bounce 0.6s ease;
    color: #f1c40f;
}

a.btn:hover {
    background-color: #014f86;
    transform: scale(1.1) translateY(-5px); 
    box-shadow: 0px 5px 15px rgba(1, 79, 134, 0.5); 
}

.smaller-text {
    font-size: 1.7rem;  
}