#technologies {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.tech-icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    transition: transform 0.9s cubic-bezier(0.98, 0.55, 0.27, 6.55); 
}

.icon-container p {
    margin-top: 8px;
    font-size: 1rem;
}

.icon {
    font-size: 3rem;
    transition: transform 0.8s ease-in-out, color 0.6s;
}

.icon-container:hover {
    transform: scale(3.15);
}

.icon-container:hover .icon {
    color: #007bff;
    transform: scale(1.6);
}

.java-icon {
    color: #007396;
}

.angular-icon {
    color: #dd0031;
}

.react-icon {
    color: #61DBFB;
}

.html-icon {
    color: #e34c26;
}

.css-icon {
    color: #264de4;
}

.js-icon {
    color: #f0db4f;
}

.springboot-icon {
    color: #6DB33F;
}

.mongodb-icon {
    color: #47A248;
}

.github-icon {
    color: #181717;
}

.aws-icon {
    color: #FF9900;
}

.kubernetes-icon {
    color: #326CE5;
}

.docker-icon {
    color: #2496ED;
}

.jenkins-icon {
    color: #D24939;
}

.maven-icon {
    color: #C71A36;
}

.gradle-icon {
    color: #02303A;
}

.webpack-icon {
    color: #8DD6F9;
}
